@(taskNum:Int, allPrice:Double, taskBookMap: java.util.Map[String,models.excel.ShopkeeperTaskBook], taskList: java.util.List[String], min_num:Int, allBuyerCount:Int, buyerCountByTeamMap: java.util.Map[Integer,Integer])
@import models.dbmanager.GlobalTool.urlPrefix
@import models.dbmanager.LockTableManager.isLock

@global{
    <div class="container">
        <br/><br/><br/><br/>
        <h1>已经上传的任务书</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>任务书名</th>
                    <th>单数</th>
                    <th>价格</th>
                    <th>删除</th>
                    <th>查看</th>
                    <th>下载Excel</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>总计</td>
                    <td id="allTaskNum">@taskNum</td>
                    <td>@allPrice</td>
                    <td></td>
                    <td></td>
                </tr>
            @for(i <- 0 until taskList.size()){

                <tr>
                    <td>@(i+1)</td>
                    <td>@taskList.get(i)</td>
                    <td>@taskBookMap.get(taskList.get(i)).getTaskNum</td>
                    <td>@taskBookMap.get(taskList.get(i)).getTaskAllPriceSum</td>
                    <td>
                    @helper.form(routes.BusinessTask.deleteByTaskBookName()) {<button type="submit" class="btn btn-info">删除</button>
                    <input type="hidden" name="taskBookName" value="@taskList.get(i)">}
                    </td>
                    <td>
                        @helper.form(routes.BusinessTask.getshopkeeperbookbyshopkeeperbookname()) {<button type="submit" class="btn btn-info">查看</button>
                            <input type="hidden" name="taskBookName" value="@taskList.get(i)">}
                    </td>
                    <td><a href="">下载</a></td>
                </tr>
                }
            </tbody>
        </table>

    </div>


    <div class="container">
        <br/><br/><br/><br/>
        @if(flash.contains("error")) {
            <p class="text-warning">
            @flash.get("error")
            </p>
        }

        <h1>分配任务</h1>
        <div>
            <input type="radio" name="dispatchModeType" id="simpleModeRadio" value="0" checked="checked"><label>&nbsp普通模式</label>
            <label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input type="radio" name="dispatchModeType" id="freeModeRadio"  value="1"><label>&nbsp自由分配</label>
        </div>
        <br/>


        @*普通模式*@
        @helper.form(routes.BusinessTask.caculateTaskList()) {
            <div id="simpleMode">
                <caption>每个刷手平均分配所有的任务</caption>
                <br/>
                <label>任务书数量:</label><input type="text" name="buyerNum" placeholder="buyerNum" value="@min_num"/> ,本次至少需要 <span class="text-danger"> @min_num  </span>个刷手, 已上传<span class="text-danger"> @allBuyerCount  </span>个刷手
                <br/>
                <p>
                    <button type="submit" class="btn btn-info">分配</button>
                </p>
            </div>
        }


        @*自由分配*@
        <div id="freeMode">
            <table>
                <caption>请输入每个小组分配的任务数</caption>
                <tr>
                    <th>小组编号&nbsp&nbsp</th>
                    <th>刷手数量&nbsp&nbsp</th>
                    <th>分配总任务数&nbsp&nbsp</th>
                    <th>每个刷手的任务数</th>
                    <th></th>
                </tr>

                <tbody>
                @for(team <- buyerCountByTeamMap.keys) {
                    <tr class="tableRow">
                        <td class="tableTeam">@team</td>
                        <td class="tableBuyerCount">@buyerCountByTeamMap(team)</td>
                        <td><input type="text" class="tableTaskNumByTeam" style="width: 60px"/></td>
                        <td class="tableTaskNumByBuyer"></td>
                        <td class="tableErrorMessage" style="color: #F00"></td>
                    </tr>
                }
                </tbody>
            </table>

            <br/>
            <p>共有 @(buyerCountByTeamMap.size()) 个小组，@allBuyerCount 个刷手</p>
            <p style="display: inline;">所有任务数量: @taskNum , 剩余未分配任务数量: </p><div id="notDispatchedCount" style="display: inline;">@taskNum</div>

            <br/>
            <p>
                <div id = "dispatchResult"></div>
                <button type="submit" id="freeModeButton" class="btn btn-disabled" disabled>分配</button>
            </p>
        </div>
    </div>


    <div class="container">
        <br/><br/><br/><br/>
            <h1>获取商家和刷手任务书</h1>
            <p>
                @if(!isLock("TaskTables")){
                    <button class="btn disabled " type="button">获取</button>
                    <span class="text-danger">有新上传或者删除，下载功能已经锁定，请先分配任务</span>
                }else{
                    @helper.form(routes.BusinessTask.getAllTaskList()) {
                        <p><button type="submit" class="btn btn-info">获取</button></p>
                    }
                    @helper.form(routes.BusinessTask.unLockTaskTables()) {
                        @*已锁定,可以解锁上传功能*@
                        <button type="submit" class="btn btn-danger">解锁上传功能</button>
                    }
                    <span class="text-danger">任务已经分配，上传功能已经锁定，若要继续上传，需要先解锁上传功能</span>
                }
            </p>
    </div>
}