@(form: Form[Buyer.BuyerForm])
@global{

    <div class="container">
        <br/>
        <br/><br/><br/>
        @helper.form(routes.Buyer.doaddbuyer()) {
            <h1>添加刷手</h1>

            @if(form.hasGlobalErrors) {
                <p class="text-danger">
                @form.globalError.message
                </p>
            }

            @if(flash.contains("success")) {
                <p class="text-success">
                @flash.get("success")
                </p>
            }

            @if(flash.contains("erorr")) {
                <p class="text-danger">
                @flash.get("erorr")
                </p>
            }


            <p>
                <label>姓名:</label><input type="text" name="name" placeholder="name" value="@form("name").value" />
            </p>
            <p>
                <label>旺旺:</label><input type="text" name="wangwang" placeholder="wangwang" value="@form("wangwang").value" />
            </p>
            <p>
                <label>手机:</label><input type="text" name="mobilephone" placeholder="mobilephone" value="@form("mobilephone").value" />
            </p>
            <p>
                <label>level:</label><input type="text" name="level" placeholder="level" value="@form("level").value" />
            </p>
            <p>
                <button type="submit" class="btn btn-info">提交</button>
            </p>
        }
    </div>

}

