@global{
    <div class="container">
        <br/><br/><br/><br/>
        @helper.form(action = routes.Shopkeeper.dobatchadd() ,'enctype -> "multipart/form-data") {
            <h1>批量添加商家店铺信息</h1>

            @if(flash.contains("success")) {
                <p class="text-success">
                    @flash.get("success")
                </p>
            }

            @if(flash.contains("error")) {
                <p class="text-danger">
                @flash.get("error")
                </p>
            }

            <p>
                <input type="file" name="shopkeeperexcel">
            </p>
            <p>
                <button type="submit" class="btn btn-info">提交</button>
            </p>


        }
    </div>

}

