@(form: Form[Application.Login])
@import models.dbmanager.GlobalTool.urlPrefix

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="hope">
        <meta name="author" content="">
        <link rel="icon" href="@{urlPrefix}static/images/f.png">

        <title>hope</title>

            <!-- Bootstrap core CSS -->
        <link href="@{urlPrefix}static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <!-- Bootstrap theme -->
        <link href="@{urlPrefix}static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

    </head>

    <body role="document">

            <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@{urlPrefix}">爵</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="@{urlPrefix}">Home</a></li>
                    </ul>
                    @if(ctx.session().get("name")) {
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown pull-right">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">@ctx.session().get("name")<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@{urlPrefix}logout">logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <a href="#"></a>
                    }
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <br/>
            <br/><br/><br/>
            @helper.form(routes.Application.authenticate) {
                <h1>登陆</h1>

                @if(form.hasGlobalErrors) {
                    <p class="text-danger">
                    @form.globalError.message
                    </p>
                }

                @if(flash.contains("success")) {
                    <p class="text-success">
                    @flash.get("success")
                    </p>
                }

                <p>
                    <input type="name" name="name" placeholder="name" value="@form("name").value">
                </p>
                <p>
                    <input type="password" name="password" placeholder="Password">
                </p>
                <p>
                    <button  class="btn btn-info" type="submit">Login</button>
                </p>
            }
        </div>

            <!-- Bootstrap core JavaScript
================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
        <script src="@{urlPrefix}static/javascripts/jquery.min.js"></script>
        <script src="@{urlPrefix}static/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>


